<footer class="row">
  <div class="large-12 columns">
    <% if user_signed_in? or weddy_signed_in? or supplier_signed_in? %>
    <% else%>
    <hr>
    <div class="row">
      <div class="small-4 columns">          
          <%= link_to "Eres proveedor?", "/supplier_home", :class => "button success radius"%>
      </div>
      <div class="small-4 columns">            
          <div id="logo" class = "logoabajo"></div>
      </div>

      <div class="small-4 columns">     
          <ul class="inline-list right">
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Terminos de Uso</a></li>                        
          </ul>
      </div>
      </div>
      <%end%>

  </div>
</footer>
<div align="center"><%= debug(params) if Rails.env.development? %></div>